body {
    color: #526066;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}

a {
    text-decoration: none;
    color: #777;
}
.push a{
	color: #777;
}
/* a:visited*/
a:hover, a:focus{
    text-decoration: underline;
}

.l-content {
    margin: 0 auto;
    max-width: 768px;
}

.l-box {
    padding: 0.5em 2em;
}
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.pure-menu-link {
    padding: .5em .7em;
}


 .pricing-tables,
 .information {
    max-width: 980px;
    margin: 0 auto;
 }
.pricing-tables {
    margin-bottom: 3.125em;
    text-align: center;
}
.pricing-table {
    margin: 0 0.5em 2em;
}
.pricing-table-free .pricing-table-header {
    background: #519251;
}

.pricing-table-biz .pricing-table-header {
    background: #2c4985;
}
.pricing-table-header {
    background: #111;
    color: #fff;
}
    .pricing-table-header h3 {
        margin: 0;
        padding: 3px;
        font-weight: normal;

    }
    .pricing-table-price span {
        display: block;
        text-transform: uppercase;
        font-size: 0.2em;
        padding-bottom: 2em;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        *color: #fff;
    }
.pricing-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.pricing-table-list li {
    padding: 0.6em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}
.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

.information-head {
    color: black;
    font-weight: 500;
}

.footer {
    background: #111;
    color: #888;
    text-align: center;
}
    .footer a {
        color: #ddd;
    }
@media(min-width: 767px) {

    .banner-head {
        font-size: 4em;
    }
    .pricing-table {
        margin-bottom: 0;
    }

}
@media (min-width: 480px) {
    .banner {
    }
    .banner-head {
        font-size: 3em;
    }
}
